<!DOCTYPE html>
<html>
  <head>
    <title>Class</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <h1>Filology</h1>
      <tr>
        <td>
          <% studentsList.forEach(student => {%>
          <div class="user">
            <div class="name">
              <%= student.name %> <%= student.surname %> <span class="gender"><%= student.birthDate %> </span>
            </div> 
            <div>
              <%= student.classNumber %>
            </div>
          </div> 
          <%})%>
        </td>
      </tr>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
